@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body {
    background-color: #111111;
}

#canvas{
    margin-left: 1px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

#header{
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

#graphBlock{
    position: relative;
    margin: 0 auto;
    height: 500px;
    width: 750px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
}

button{
    background-color: #111111;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 5px #727272,
    0 0 5px #b7b7b7,
    0 0 10px #cecece,
    0 0 15px #ffffff;
}

button img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

img {
    position: relative;
    top: 1.5px;
}
